body {
  background-color: chartreuse;
  text-align: center;
}

h1 {
  font-family: sans-serif;

}

#game-board{
    border: solid black;
    margin: 0 auto;
    width: 700px;
    height: 700px;
}

div .square {
    height: 20px;
    width: 20px;
    float: left;
}

.bodyPart {
    background-color: fuchsia;
}

.empty {
    background-color: chartreuse;
}

.apple {
  background-color: red;
}
